.homeDiv{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(128, 230, 117); */
}
.profileLeft{
background-color: rgb(54, 72, 172);
/* background-color:"cfe8fc", */
color: white;
min-height: 100vh;
height: auto;
width: 30%;
float: left;
overflow-x:scroll;
}
.profileRight{
    /* background-color: blue; */
    height: 100vh;
    width: 70%;
    float:right;
    overflow-x:scroll;
}
.colorwhite{
    color: white;
}